<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="stylesheet.css" rel="stylesheet">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
