{% extends "base.html" %}
{% block content %}
{% for image in images %}
<div class="imagebox small_imagebox">
    <a href="{{ image.detail_url }}">
        <img alt="{{ image.description }}"
             src="{{ image.thumbnail_url }}">
    </a>
    <div class="subscript">
        {% if "creator" in image %}
        <div class="creator">
            By: {{ image.creator }}
        </div>
        {% endif %}
        <div class="description">
            {{ image.description }}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
