{% extends "base.html" %}
{% block content %}
<div class="imagebox large_imagebox">
    <a href="{{ image.detail_url }}">
        <img alt="{{ image.description }}"
             src="{{ image.image_url }}">
    </a>
    <div class="subscript">
        {% if "creator" in image %}
        <div class="creator">
            By: {{ image.creator }}
        </div>
        {% endif %}
        <div class="description">
            {{ image.description }}
        </div>
        {% if "people" in image %}
        <div class="peoplenames">
        People ({{ image.people.order }}):
        <ul>
            {% for name in image.people.names %}
            <li>{{ name }}</li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}
        {% if image.long_description %}
        <div class="long_description">
            {{ image.long_description }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
