body {
    font-family: sans-serif;
    padding-bottom: 20px;
}

.imagebox {
    margin: 10px;
    padding: 3px;
    box-shadow: 5px 5px 10px #cccccc;
}

.small_imagebox {
    display: inline-block;
    width: 300px; 
    vertical-align: text-top;
}

.imagebox img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

.creator {
    text-align: right;
    font-size: 0.7em;
    color: #cccccc;
}

.peoplenames {
    margin-top: 5px;
}

.peoplenames ul {
    margin: 0;
}

.peoplenames li {
    display: inline-block;
    margin-right: 1em;
}

.description {
    margin-top: 5px;
}

.large_imagebox .description {
    font-size: 1.2em;
    font-weight: bold;
}

.long_description {
    margin-top: 5px;
}
